<!DOCTYPE html>
<html lang="{{language}}">
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{%block css %}/include/etherdump.css{%endblock%}">
	{% block scripts %}
	<script src="/include/jquery-latest.js"></script>
	<script src="/include/jquery.tablesorter.min.js"></script>
	{% endblock scripts %}
</head>
<body>
<h2 id="title">etherpad archive</h2>
<p class="info">These pages are snapshots of <em>in-progress</em> documents from the <a href="/pad">local etherpad</a>. 
</p>
<p>
To prevent your pad from appearing here, put the word <em>__NOPUBLISH__</em> (including the surrounding double underscores) anywhere in the text of your pad. Changes will be reflected after the next update.
</p>

<p id="namefilter">
<input type="text" id="namefilterinput" value="" placeholder="name filter" autofocus >
<button id="newpadbutton">go/start pad</button>
</p>

<script src="/include/index.js"></script>

<table class="listing tablesorter">
<thead>
<tr>
	<th>name</th>
	<th>versions</th>
	<th>last edited</th>
	<th>revisions</th>
	<th>authors</th>
</tr>
</thead>
<tbody>
{% for pad in pads %}
<tr>
	<td class="name">
		<a href="{{pad.link}}">{{ pad.padid }}</a>
	</td>
	<td class="versions"> 
		{% for v in pad.versions %}<a href="{{v.url}}">{{v.type}}</a> {% endfor %}
	</td>
	<td class="lastedited">{{ pad.lastedited_iso|replace("T", " ") }}</td>
	<td class="revisions">{{ pad.revisions }}</td>
	<td class="authors">{{ pad.author_ids|length }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<p>
  <form method="post" action="/cgi-bin/etherdump.cgi" style="display: inline-block"><input type="submit" value="update" /></form>
  Last updated {{timestamp}}.
</p>

</body>
</html>
