/* this rule is important for the diff.html */
.removed {
    display: none;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted gray;
    color: black;
}

a:hover {
    /*text-decoration: underline;*/
    border-bottom: 1px solid gray;
}

td.versions a {
    text-transform: uppercase;
    font-size: smaller;
    padding: 1px;
    color: gray;
    border-bottom: none;
    text-decoration: none;
}
td.versions a:hover {
    background: black;
    color: gray;
}
span.lock {
    background-image: url(lock.png);
    background-repeat: no-repeat;
    padding-left: 16px;
}

ul.listing {
    -moz-columns: 8em;
    list-style-type: circle;
    padding-left: 0;
    word-break: break-all;
}

a.private {
    font-style: italic;
}
/* Fonts */
body {
/*    font-family: Arial,sans-serif;
    font-size: 14px;
*/    margin: 2em;
}

th {
    text-align: left;
    cursor: pointer;
}
td {
    padding-right: 1em;
}



/*********************************/
/* tables */
table.tablesorter {
    /*font-family:arial;*/
    /*background-color: #CDCDCD;*/
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    /*background-color: #e6EEEE;*/
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    /*background-image: url(bg.gif);*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    /*color: #3D3D3D;*/
    padding: 4px;
    border-bottom: 1px solid #CCC;
    /*background-color: #FFF;*/
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    /*background-color:#F0F0F6;*/
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
